* {
    box-sizing: border-box;
}

body {
    background: #E7E9F6;
    font-family: "Anek Bangla", sans-serif;
    font-weight: 500;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

.sideBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17vw;
    height: 85vh;
    min-width: 100px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0; 
}

.universityLogo {
    width: 70%;
    height: auto;
    margin: 2rem 0; 
}

.menuTxt {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    padding-bottom: 2rem;
}

.menuBtns {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
}

.menuBtns section {
    width: 90%;
}

.menuBtns a {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menuBtns a:hover {
    background-color: #E7E9F6;
    color: #555;
}

.menuBtns i {
    font-size: 1.5rem;
}

.logoutButton {
    margin-top: 6rem;
}

.logoutButton a {
    color: #C00;
}

.logoutButton a:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

.mainBox {
    display: flex;
    flex-direction: row;
    width: 79vw;
    height: 85vh;
    min-width: 650px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error-box {
    position: fixed;
    bottom: 20px;
    left: 45%;
    background-color: rgb(202, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 5px;
    animation: slideUp 0.5s ease-out forwards;
}

.success-box {
    position: fixed;
    bottom: 20px;
    left: 45%;
    background-color: rgb(0, 173, 0);
    color: white;
    padding: 10px;
    border-radius: 5px;
    animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-down {
    animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
    }
}